  .leftSidebar{
    flex: 2;
  }
  
  .navMenu {
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  }
    
  .navItem {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  .navText{
    padding-left: 10px;
  }
  
  .navItem a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .navItem a:hover {
    background-color: var(--bodyBackground)
  }
  
  .navMenuItems {
    width: 100%; 
  }
  
  .navbarToggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  @media only screen and (max-width: 600px) {
    .leftSidebar{
      display: none;
    }
    .navMenu{
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    }
  }
