
  .listsContainer{
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
  }
  .listTitle{
    font-size: 25px;
    color: #333;
    margin: -0 0 20px 0;
  }

  .listName{
    font-size: 16px;
    margin: 15px 0;
    color: #404040;
  }
  