/* nav component */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1;
    padding: 5px 0;
  }

  /* mobile icon */
  .navbar {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menuBars {
    color: #060b26;
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    display: none;
  }
  
  .nav ul {
    /* width: 50%; */
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .nav ul li{
    padding: 0 15px;

  }
  
  .nav .brand  {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .nav ul  .navLink{
    text-decoration: none;
    color: #002333;
  }
  .nav ul  .navLink:hover{
    color: #00299F;
  }
  
  /* left nav */
  .leftNav{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  

  /* mobile menu */
  
  .leftSidebar{
    flex: 2;
  }
  
  .navMenu {
    /* background-color: #060b26; */
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    display: none;
    margin-top: 70px;
  }
  
  .navMenu.active {
    left: 0;
    transition: 350ms;
  }
  
  .navItem {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  .navText{
    padding-left: 10px;
  }
  
  .navItem a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .navItem a:hover {
    background-color: var(--bodyBackground)
  }
  
  .navMenuItems {
    width: 100%; 
  }
  
  .navbarToggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
 

  
  @media only screen and (max-width: 600px) {
   .nav{
    width: 100%;
   }
   .menuBars{
    display:block;
   }
   .resInput{
    display: none !important;
   }

   /* Mobile Menu */
   .navMenu{
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    display: block;
    }
  }
