flex align-items-center w-full mt-3 py-2 border rounded-full

.socialLogin{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    /* padding:  0 8px ; */
    border-radius: 50%;
}
.socialBtn{
    width: 100%;
    margin-top: 10px;
}
.socialIcon{
    flex: 0;
}
.socialName{
    flex: 1;
}